.main {
    .display {
        position: absolute;
        z-index: 99999999999;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        font-size: 14px;
        color: rgba(122, 122, 122, 1);

        .places-detected {
            position: absolute;
            top: 20px;
            right: 20px;

            .place-detected {
                width: 35px;
                height: 35px;
                background-color: rgba(87, 87, 87, 0.75);
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 900;
                color: white;
                margin-bottom: 10px;

                &:active:hover {
                    opacity: 0.5;
                }
            }
        }
        
        .open {
            height: 550px !important;
            transition: height 0.2s ease-in;
            opacity: 1 !important;
        }

        .sheet {
            z-index: 100;
            padding: 0 0 25px 0;
            width: 100%;
            height: 75px;
            transition: height 0.2s ease-in;
            flex: 1;
            margin: 20px;
            border-radius: 20px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
            opacity: 0.9;

            .fit-padding {
                padding-right: 25px;
                padding-left: 25px;
            }

            .handle {
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                .knob {
                    width: 30px;
                    height: 3px;
                    background-color: rgba(166, 166, 166, 1);
                }
            }

            .title-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 2px;

                .title {
                    font-size: 20px;
                    font-weight: 700;
                    color: rgba(60, 60, 60, 1);
                }

                .rating {
                    display: flex;
                    align-items: center;

                    .score {
                        margin-right: 1px;
                        font-size: 14px;
                        color: rgba(122, 122, 122, 1);
                    }

                    .star-icon {
                        transform: scale(0.8);
                        color: rgba(249, 226, 19, 1);
                    }
                }
            }

            .description-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                .place-type {
                    display: flex;
                    align-items: baseline;

                    .type {
                        color: rgba(122, 122, 122, 1);
                        font-size: 14px;
                        margin-right: 2px;
                    }

                    .cost {
                        font-size: 10px;
                        color: rgba(168, 168, 168, 1);
                    }
                }

                .place-status {
                    font-size: 14px;
                    color: rgba(18, 144, 16, 1);
                }
            }

            .info {
                display: flex;
                align-items: flex-start;
                margin-bottom: 15px;

                .icon {
                    margin-right: 10px;
                    color: rgb(92, 155, 226);
                }

                .text {
                    font-size: 14px;
                    color: rgba(122, 122, 122, 1);
                }
            }

            .tab-menu {
                padding-top: 15px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .menu {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;

                    .active {
                        color: rgba(60, 60, 60, 1);
                    }
                }
            }

            .photos {
                display: flex;
                width: 100%;
                overflow-x: scroll;

                img {
                    object-fit: cover;
                    height: 180px;
                    width: 120px;
                    margin-right: 15px;
                    border-radius: 15px;

                    &:last-child {
                        margin-right: 25px;
                    }

                    &:first-child {
                        margin-left: 25px;
                    }
                }

                &::-webkit-scrollbar { 
                    display: none;
                }
            }
            
        }
    }

    video {
        object-fit: cover;
    }
}